{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "printWidth": 120,
    "tabWidth": 3,
    "useTabs": false,
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": false
}
